.player {
  position: absolute;
  left: 0;
  top: 0;
  width: 92px;
  height: 110px;
  margin-left: -34px;
  margin-top: -81px;

  div {margin: 0; padding: 0;}
  div div {background: #A4CA39; position: relative;}

}

@include keyframes(player-walk-left) {
  from {
    @include transform(rotate(0));
  }
  to {
    @include transform(rotate(30deg));
  }
}

@include keyframes(player-walk-right) {
  from {
    @include transform(rotate(0));
  }
  to {
    @include transform(rotate(-30deg));
  }
}